body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #A0A0A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    color: #303030;
    transition: color 0.3s ease;
}