body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #A0A0A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: #303030;
    transition: color 0.3s ease;
}

.content {
    padding: 40px;
    background-color: #F0F0F0;
    height: 100%;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex: 1 1 calc(33% - 40px);
    width: calc(33% - 40px);
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.block img {
    max-width: 100%;
    height: auto;
    justify-self: center;
}

.block img {
    max-width: 100%;
    height: auto;
    justify-self: center;
}

.block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(-5px);
}